.addElementButtonContanier{
  position: absolute;
  margin: auto;
  left: 35%;
  bottom: -1;
  width: 30%;
  opacity: 0.8;
  text-align: center;
  background: #303233; 
}

.addElementButton{
  font-weight: 800 !important;
  width: 100%;
  color: #FFF !important; 
  font-size: 1.2vw !important;
}