[contenteditable=true]:empty:before{
  color:    #afb6bf;
  margin-top:3px;
  font-size: 28px;
  text-align: center;
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable=true] {
  /* border: 1px dashed #AAA; */
  padding: 5px;
}

