.ant-anchor-link-title{
  color: grey !important;
}
.ant-anchor-link-active > .ant-anchor-link-title{
  color: white !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: black !important;
}

/* tooltip */
.__react_component_tooltip.show {
  opacity: 0.2;
}


/* .vertical-layout-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} */

.topLevelMenuItemLeftIcon{
  display: inline-block;
  position: absolute;
  left: -20%; 
}


.topLevelMenuItemRightIcon{
  display: inline-block;
  position: absolute;
  right: 3%; 
}

.updateSiteNameItemLeftIcon{
  display: inline-block;
  position: absolute;
  left: -2%; 
}
