.ant-anchor-link-title{
  color: grey !important;
}
.ant-anchor-link-active > .ant-anchor-link-title{
  color: white !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: black !important;
}

/* tooltip */
.__react_component_tooltip.show {
  opacity: 0.2;
}