.upload-btn-wrapper {
  overflow: hidden;
  display: inline-block;
  top: 32%;
  left: 42%;
  position: absolute

}

.btn {
  /* border: 2px solid gray; */
  color: gray;
  /* background-color: rgb(241, 238, 238); */
  /* margin-top: 9px; */
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
}

.MuiDialog-paperWidthSm-29 {
  max-width: 900px !important;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.imageUploaderContainer{
  text-align: center;
  border: 4px dashed #e2e4e7;
  bottom: 40px;
  left: 30px;
  right: 30px; 
  top: 0px;
  width: auto; 
  height: auto;
  min-height: 140;  
}