.ql-container.ql-snow {
  border: 0 !important;
}

.ant-popover-placement-top>.ant-popover-content>.ant-popover-arrow, .ant-popover-placement-topLeft>.ant-popover-content>.ant-popover-arrow, .ant-popover-placement-topRight>.ant-popover-content>.ant-popover-arrow{
  bottom: 0;
}

/* .ql-editor {
  padding: 2px 5px !important;
} */

/* 关于 css media query 顺序与覆盖 */
/* https://blog.brain1981.com/314.html */

.ql-editor {
  padding: 1px 2px !important;
  font-size: calc(0.7vw + 0.7vh)  !important;
}

/* 自适应屏幕大小,试行 */
/* 将原有的 font-size: em 大小转为 vw */

/* 手机字体 */
@media screen and (min-width: 320px) {
  .ql-editor {
    font-size: calc(1vw + 1vh)  !important;
  }
}

/* 大屏幕字体 */
@media screen and (min-width: 960px) {
  .ql-editor {
    font-size: calc(0.7vw + 0.7vh)  !important;
  }
}


