
.verticalLayoutContainerFullWithChilren{
  /* margin: 0 0; */
  margin: auto;
  width: 100%;
  flex-grow: 1;
  padding: 0 0;
}

.verticalLayoutContainerDefault{
  margin: auto;
  width: 84%;
  flex-grow: 1;
  padding: 5% 0;
}

