
.verticalLayoutContainerFullWithChilren{
  margin: 0 0;
  width: 100%;
  flex-grow: 1;
  padding: 0 0;
}

.verticalLayoutContainerDefault{
  margin: 0 auto;
  width: 84%;
  flex-grow: 1;
  padding: 5% 0;
}

